{% extends 'roomballot/emails/template.html' %}

{% block content %}
    Dear Downing,<br><br>

    I hope you had a great vacation! As you may know, the room ballot will be taking place this term. For more
    information about the ballot, including an explanation of all the jargon, and how to get a room outside of the
    ballot, please visit the Knowledge Base on the room ballot system:<br><br>

    <a href="https://ballot.downingjcr.co.uk">https://ballot.downingjcr.co.uk</a><br><br>

    The first thing you'll need to do is form a syndicate. A syndicate is a way for a group of people (maximum 6 people)
    to choose rooms at the same time as each other. You can create your syndicate on the system from now onwards, and
    you'll have until the <b>23rd February</b> to complete this.<br><br>

    If you have any further questions about the ballot process, I'm here to help! Please drop me an email or get in
    touch via livechat on the ballot system (speech bubble in the bottom-right).<br><br>

    Downing love,<br><br>

    Cam O'Connor<br>
    President, Downing JCR
{% endblock %}