{% extends 'roomballot/emails/template.html' %}

{% block content %}
Hey {{ student.first_name }},<br><br>

I hope you had a good vacation!<br><br>

I'd like to invite you to review your room on the Room Balloting System by visiting the link below.<br><br>

<a href="https://ballot.downingjcr.co.uk">Review my Room!</a><br><br>

If the information on the system is incorrect, for example because you have changed your room selection since
    ballot weekend, just drop me an email and I'll do my best to get it sorted :)<br><br>

Downing love,<br><br>

Cam<br>
<a href="mailto:president@jcr.dow.cam.ac.uk">president@jcr.dow.cam.ac.uk</a>
{% endblock %}
