{% extends 'roomballot/emails/template.html' %}

{% block content %}
Hi {{ student.first_name }},<br><br>

We sent you an email a little while ago asking you to review your room for the new Room Balloting System. When you get a
    minute, we'd be grateful if you could leave a review, so others know what your room's like.<br><br>

    <a href="https://ballot.downingjcr.co.uk">Review your Room!</a><br><br>

    Thank you so much - we really appreciate your time!<br><br>

    Downing JCR &#10084;
{% endblock %}