{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>About | Downing JCR RBS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
            type="text/javascript"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        Tawk_API.visitor = {
            name: '{{ student.first_name|escapejs }} {{ student.surname|escapejs }}',
            email: '{{ request.user.username }}@cam.ac.uk'
        };
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5b44b4b76d961556373d93d4/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark justify-content-between mb-4">

    <a class="navbar-brand" href="/roomballot/welcome">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dowjcrwhite.png" width="60"
             style="padding-right: 10px">
        Room Balloting System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ student }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/roomballot/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/roomballot/staircases">Browse Rooms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/accounts/logout">Logout</a>
                </div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/roomballot/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/roomballot/staircases">Browse Rooms</a>
            </li>
            <div class="dropdown-divider-burgundy"></div>
            <li class="nav-item">
                <a class="nav-link d-lg-none d-xl-none" href="/accounts/logout">Logout</a>
            </li>
            </li>
        </ul>
    </div>

</nav>

<div class="container">

    <div class="row mt-4">

        <div class="col-md-3 col-sm-12 mb-4 d-md-block sidebar">
            <div class="list-group">
                <a href="/roomballot/info" class="list-group-item"><i class="fa fa-key"></i> <span>Ballot Information</span></a>
                <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i> <span>Bursaries & Rent Reduction</span></a>
                <a href="/roomballot/about" class="list-group-item active"><i class="fa fa-question-circle"></i><span>About</span></a>
            </div>
        </div>
        <main role="main" class="col md-9 ml-sm-auto col-lg-9 px-4 mb-4">
            <div class="row">
                <div>
                    <h2>About</h2>
                </div>
                <div class="border-top">
                    <p class="mt-3">
                        This system was created, with love, by Cameron O'Connor, JCR Internet Officer 2018-19. It is released under the MIT
                        Licence, and the source is available on <a href="https://github.com/dowjcr/rooms" target="blank">GitHub</a>.
                        The backend uses the <a href="https://www.djangoproject.com/" target="blank">Django</a> framework, while the UI is simply
                        built using Bootstrap and a little jQuery.<br><br>
                        If you have any suggestions about how the system can be improved, please feel free to contact the Internet Officer
                        at <a href="mailto:internet@jcr.dow.cam.ac.uk">internet@jcr.dow.cam.ac.uk</a>.
                    </p>
                </div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

</body>
</html>