{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>About | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="row mt-4">

        <div class="col-md-3 col-sm-12 mb-4 d-md-block sidebar">
            <div class="list-group">
                <a href="/roomballot/info" class="list-group-item"><i class="fa fa-key"></i> <span>Ballot Information</span></a>
                <a href="#" class="list-group-item"><i class="fa fa-credit-card"></i> <span>Bursaries & Rent Reduction</span></a>
                <a href="/roomballot/info/create-syndicate" class="list-group-item"><i class="fa fa-question-circle"></i><span>Creating a Syndicate</span></a>
                <a href="/roomballot/info/individual" class="list-group-item"><i class="fa fa-question-circle"></i><span>Ballot as an Individual</span></a>
                <a href="/roomballot/info/select-room" class="list-group-item"><i class="fa fa-question-circle"></i><span>Selecting a Room</span></a>
                <a href="/roomballot/about" class="list-group-item active"><i class="fa fa-question-circle"></i><span>About</span></a>
            </div>
        </div>
        <main role="main" class="col md-9 ml-sm-auto col-lg-9 px-4 mb-4">
            <div class="row">
                <div>
                    <h2>About</h2>
                </div>
                <div class="border-top">
                    <p class="mt-3">
                        This system was created with &#10084; by Cameron O'Connor, JCR Internet Officer 2018-19. It is released under the MIT
                        Licence, and the source is available on <a href="https://github.com/dowjcr/rooms" target="blank">GitHub</a>.
                        The backend uses the <a href="https://www.djangoproject.com/" target="blank">Django</a> framework, while the UI is simply
                        built using Bootstrap and a little jQuery.<br><br>
                        <a href="https://cjoc.xyz" target="blank">https://cjoc.xyz</a><br><br>
                        If you have any feedback or suggestions about how the system can be improved, please feel free to contact the Internet Officer
                        at <a href="mailto:internet@jcr.dow.cam.ac.uk">internet@jcr.dow.cam.ac.uk</a>.
                    </p>
                </div>
            </div>
    </div>

{% endblock %}