{% extends 'roomballot/base-admin.html' %}
{% load humanize %}

{% block title %}Analytics | Downing JCR RBS{% endblock %}

{% block content %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        $(function () {

            var bandChart1 = Highcharts.chart('bandChart1', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Number of Rooms by Band (old)'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: [{% for b in band_counts_old %}'{{ b.band_name }}',{% endfor %}]
                },
                yAxis: {
                    title: {
                        text: 'Number of Rooms'
                    }
                },
                series: [{
                    name: 'JCR',
                    data: [{% for b in band_counts_old %}{{ b.total_jcr }}, {% endfor %}]
                }]
            });

            var bandChart2 = Highcharts.chart('bandChart2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Number of Rooms by Band (new)'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: [{% for b in band_counts %}'{{ b.band_name }}',{% endfor %}]
                },
                yAxis: {
                    title: {
                        text: 'Number of Rooms'
                    }
                },
                series: [{
                    name: 'JCR',
                    data: [{% for b in band_counts %}{{ b.total_jcr }}, {% endfor %}]
                }]
            });

            var midpointJCR = {{ jcr_rooms_count }} / 2;

            var priceChart1 = Highcharts.chart('priceChart1', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Room Prices (JCR)'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: [''],
                    title: {
                        text: null
                    },
                    labels: {
                        enabled: false,//default is true
                        y: 20, rotation: -45, align: 'right'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Price per Week (£)'
                    }
                },
                series: [{
                    name: 'JCR',
                    data: [{% for r in jcr_prices %}{{ r }}, {% endfor %}]
                }, {
                    name: 'JCR Best Fit',
                    data: [{% for r in jcr_fitted %}{{ r }}, {% endfor %}]
                }]
            });
        });
    </script>

    <div class="row mb-3">
        <div class="col-md-12 mb-3">
            <h3>Old Data (2018-19)</h3>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Band</th>
                    <th scope="col">Total</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Total JCR</th>
                </tr>
                </thead>
                <tbody>
                {% for b in band_counts_old %}
                    <tr>
                        <td><b>{{ b.band_name }}</b></td>
                        <td>{{ b.count }}</td>
                        <td>{{ b.percentage }}%</td>
                        <td>{{ b.total_jcr }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div id="bandChart1"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 mb-3">
            <h3>New Data (2019-20)</h3>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Band</th>
                    <th scope="col">Total</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Total JCR</th>
                </tr>
                </thead>
                <tbody>
                {% for b in band_counts %}
                    <tr>
                        <td><b>{{ b.band_name }}</b></td>
                        <td>{{ b.count }}</td>
                        <td>{{ b.percentage }}%</td>
                        <td>{{ b.total_jcr }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">

            <div id="bandChart2"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">JCR</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Total Rooms</b></td>
                    <td>{{ jcr_rooms_count }}</td>
                </tr>
                <tr>
                    <td><b>Total Contract Weeks Paid</b></td>
                    <td>{{ contract_weeks }}</td>
                </tr>
                <tr>
                    <td><b>Total Income (Old)</b></td>
                    <td>{{ total }}</td>
                </tr>
                <tr>
                    <td><b>Total Income (New)</b></td>
                    <td>{{ new_total }}</td>
                </tr>
                <tr>
                    <td><b>Lowest</b></td>
                    <td>£{{ jcr_prices|first|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Highest</b></td>
                    <td>£{{ jcr_prices|last|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Mean</b></td>
                    <td>£{{ average_weekly_price_jcr|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Median</b></td>
                    <td>£{{ median_weekly_price_jcr|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Range</b></td>
                    <td>£{{ jcr_range|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Standard Deviation</b></td>
                    <td>£{{ jcr_std|stringformat:'0.2f' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div id="priceChart1"></div>
        </div>
    </div>
{% endblock %}