<!--Defines the header and footer. All templates to extend this.
    Author cjo41-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark justify-content-between">

    <a class="navbar-brand" href="#">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dowjcrwhite.png" width="60" style="padding-right: 10px">
        Room Balloting System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="mr-sm-2"><a class="nav-link" href="#">cjo41</a></li>
        </ul>
    </div>
</nav>


</body>
</html>