{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Review Your Room | Downing JCR RBS</title>
</head>

<div class="container">
    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <h2>Review Your Room</h2>
            </div>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-xl-9 col-lg-69 col-md-9 col-sm-12">
            <p>
                Thank you for agreeing to leave a review of your room. Your review will help others
                when they come to pick their rooms on ballot day. Please confirm that you are the occupant of
                the room below:
            </p>
            <div class="alert alert-info">
                <h5>{{ room }}</h5>
            </div>
            <p>
                If you are not the occupant of this room, please do not proceed with this survey. Instead, contact
                the Internet Officer via livechat, or by emailing <a href="internet@jcr.dow.cam.ac.uk">
                internet@jcr.dow.cam.ac.uk</a>
            </p>

            <form class="mb-5 mt-5" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Review Title</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="layout_rating">How well laid out is your room?</label>
                    <select class="form-control" id="layout_rating" name="layout_rating" required>
                        <option disabled selected value> -- select an option --</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <small id="layoutHelp" class="form-text text-muted">Leave a rating out of 5, where 1 is worst and 5
                        is best.
                    </small>
                </div>
                <div class="form-group">
                    <label for="facilities_rating">How would you rate your room's facilities?</label>
                    <select class="form-control" id="facilities_rating" name="facilities_rating" required>
                        <option disabled selected value> -- select an option --</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="noise_rating">How quiet is your room?</label>
                    <select class="form-control" id="noise_rating" name="noise_rating" required>
                        <option disabled selected value> -- select an option --</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <small id="layoutHelp" class="form-text text-muted">1 is 'very noisy', 5 is 'I can hear a pin drop'.
                    </small>
                </div>
                <div class="form-group">
                    <label for="overall_rating">How would you rate your room overall?</label>
                    <select class="form-control" id="overall_rating" name="overall_rating" required>
                        <option disabled selected value> -- select an option --</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="text">Review</label>
                    <textarea class="form-control" rows="5" id="text" name="text" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-5">
            <div class="d-md-block">
            <div class="list-group">
                <p class="list-group-item">
                    <b>Review Guidance</b>
                </p>
                <p class="list-group-item">
                    Include as much useful information about your room as possible. Think about what you wish you
                    had known on ballot day! <br><br>Is the room noisy, cold or in poor condition? <br><br>What are the
                    shared facilities (kitchen/bathroom) like?<br><br>Please don't use any offensive language in your
                    review, or it will be removed from the system.
                </p>
            </div>
        </div>


    </div>
</div>

</div>

{% endblock %}