{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Create Syndicate | Downing JCR RBS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
            type="text/javascript"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    Tawk_API.visitor = {
        name : '{{ student.first_name }} ({{ request.user.username }})',
        email : '{{ request.user.email }}'
        };
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b44b4b76d961556373d93d4/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {

        // Defining CSRF token.
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        // Students' CRSids who have been added to syndicate.
        var members = ["{{ student.user_id }}"];
        var membersCount = 1;

        // Handle response received after POST request.
        function HandleResponse(responseCode) {
            // Successfully created syndicate.
            if (responseCode === 1) location.replace('syndicate');
            else location.assign('../error/' + responseCode.toString());
        }

        // Called when the user confirms they have inputted all members.
        // Sends POST to create_syndicate view, which executes method.
        function CreateSyndicateAjaxResponse() {
            $.ajax({
                url: '/roomballot/dashboard/create-syndicate',
                type: 'POST',
                data: {'crsids': members},
                dataType: 'json',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                success: function (response) {
                    HandleResponse(response.responseCode);
                }
            });
        }

        $(function () {

            // Generate JSON of students who can be added to this syndicate.
            var availableStudents = [
                {% for st in students %}
                    {% if student != st %}
                        {
                            value: "{{ st.user_id }}",
                            label: "{{ st.first_name }} {{ st.surname }} ({{ st.user_id }})"
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
            ];

            // Set parameters of autocomplete field.
            $('#student').autocomplete({
                source: availableStudents,
                select: function (event, ui) {
                    let box = $('#student');
                    $('#members').append('<br>' + ui.item.label);
                    members.push(ui.item.value);
                    membersCount++;
                    // If syndicate is now full.
                    if (membersCount === 6) {
                        box.val("Maximum Size Reached");
                        box.attr('disabled', true);
                        box.autocomplete({source: null});
                        return false;
                    }
                    else {
                        box.val("");
                        // Remove this student from those available to be added.
                        availableStudents = availableStudents.filter(function (jsonObject) {
                            return jsonObject.value !== ui.item.value;
                        });
                        box.autocomplete({source: availableStudents});
                        return false;
                    }
                }
            });
        });

        // When 'continue' button is clicked, send response.
        $('#continue').click(function () {
            CreateSyndicateAjaxResponse();
        });
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark justify-content-between mb-4">

    <a class="navbar-brand" href="/roomballot">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dowjcrwhite.png" width="60"
             style="padding-right: 10px">
        Room Balloting System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="mr-sm-2"><a class="nav-link" href="/roomballot/dashboard">Dashboard</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <h2>Create Syndicate</h2>
            </div>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <p>
                A syndicate can comprise a maximum of <b>6</b> people.<br>
                To add a student to your syndicate, search for them in the box below.<br>
                When you're done, click Create.
            </p>
            <div class="ui-widget mb-2">
                <input id="student"><br>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="jumbotron">
                <h3>Syndicate Members</h3>
                <p id="members">{{ student.first_name }} {{ student.surname }} ({{ student.user_id }}) <b>Owner</b></p>
            </div>

            <div align="right">
                <button class="btn btn-primary" id="continue">Create</button>
            </div>
        </div>
    </div>

</div>

</body>
</html>