{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Thanks! | Downing JCR RBS</title>
</head>

<div class="container">
    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <h2>Good job!</h2>
            </div>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-xl-9 col-lg-69 col-md-9 col-sm-12">
            <p>
                Thank you for reviewing your room. Your review has been recorded and will be shown presently.
            </p>
            <a href="/roomballot/dashboard" class="btn btn-primary mt-3">Back to Dashboard</a>

        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">

        </div>


    </div>
</div>

{% endblock %}