{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Dashboard | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="border-bottom mb-3">
        <h2>Dashboard</h2>
        <h5>Welcome, {{ student.first_name }}.</h5>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h3>Your Room</h3>
                {% if student.has_allocated %}
                    <p>You have chosen {{ room }}.</p>
                    <a href="room/{{ room.room_id }}" class="btn btn-primary mr-1">View Room <i class="fas fa-angle-right ml-2"></i></a>
                    <div class="d-none d-md-block d-lg-none mb-2"></div>
                    {% if can_leave_review %}
                    <!--<a href="/roomballot/dashboard/review" class="btn btn-primary mr-1">Leave Review <i class="fas fa-angle-right ml-2"></i></a>
                        <div class="d-block d-xl-none mb-2"></div>-->
                    {% endif %}
                {% else %}
                    {% if can_pick %}
                        <p>It's time to pick your room.</p>
                        <a href="staircases" class="btn btn-primary">Pick Room <i class="fas fa-angle-right ml-2"></i></a>
                    {% else %}
                        <p>You can't pick your room right now. If you've missed your slot, get in touch by livechat
                        or come to the ballot room.</p>
                        <a href="staircases" class="btn btn-primary">Browse Rooms <i class="fas fa-angle-right ml-2"></i></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% if is_proxy %}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h3>Proxy</h3>
                <p>Looks like you've been nominated as someone's proxy!</p>

                <a href="proxy" class="btn btn-primary">Pick for Proxy <i class="fas fa-angle-right ml-2"></i></a>

            </div>
        </div>
        {% endif %}

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h3>Syndicate</h3>
                {% if student.in_ballot %}
                    {% if student.accepted_syndicate %}
                        {% if not student.syndicate.complete %}
                            <p>Great news! You've accepted your syndicate. We're still waiting on other people to
                                accept.</p>
                            <a href="dashboard/syndicate" class="btn btn-primary">View Syndicate <i class="fas fa-angle-right ml-2"></i></a>
                        {% else %}
                            <p>Great news! Your syndicate is complete.</p>
                            <a href="dashboard/syndicate" class="btn btn-primary">View Syndicate <i class="fas fa-angle-right ml-2"></i></a>
                        {% endif %}
                    {% else %}
                        {% if student.syndicate == None and student.year == 1 %}
                            <p>You haven't created, or been invited to, a syndicate yet.</p>
                            <a href="dashboard/create-syndicate" class="btn btn-primary">Create Syndicate <i class="fas fa-angle-right ml-2"></i></a>
                        {% elif student.syndicate != None and student.year == 1 %}
                            <p>You've been invited to a syndicate. Accept the invite now!</p>
                            <a href="dashboard/syndicate" class="btn btn-primary">Accept Invite <i class="fas fa-angle-right ml-2"></i></a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p>You've been removed from the ballot.</p>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h3>Ballot Rank</h3>
                {% if student.in_ballot %}
                    {% if student.rank == None %}
                        <p>Your ranking hasn't been generated yet. Check back soon!</p>
                        <a href="ranking" class="btn btn-primary">View Ranking <i class="fas fa-angle-right ml-2"></i></a>
                    {% else %}
                        <p>You are ranked <b>{{ student.rank }} out of all students.</b><br>
                            {% if student.picks_at is not None %}
                                You'll pick your room on {{ student.picks_at }}
                            {% endif %}</p>
                        <a href="ranking" class="btn btn-primary">View Ranking <i class="fas fa-angle-right ml-2"></i></a>
                    {% endif %}
                {% else %}
                    <p>You've been removed from the ballot.</p>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h3>Support</h3>
                    <p>Have some questions about the ballot process?</p>
                    <a href="/roomballot/info" class="btn btn-primary">Knowledge Base <i class="fas fa-angle-right ml-2"></i></a>

            </div>
        </div>
    </div>

</div>

{% endblock %}