{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Creating a Syndicate | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="row mt-4">

        <div class="col-md-3 col-sm-12 mb-4 d-md-block sidebar">
            <div class="list-group">
                <a href="/roomballot/info" class="list-group-item"><span>Ballot Information</span></a>
                <a href="#" class="list-group-item"><span>Bursaries & Rent Reduction</span></a>
                <a href="/roomballot/info/create-syndicate" class="list-group-item active"><span>Creating a Syndicate</span></a>
                <a href="/roomballot/info/individual" class="list-group-item"><span>Ballot as an Individual</span></a>
                <a href="/roomballot/info/select-room" class="list-group-item"></i><span>Selecting a Room</span></a>
                <a href="/roomballot/about" class="list-group-item"><span>About</span></a>
            </div>
        </div>
        <main role="main" class="col md-9 ml-sm-auto col-lg-9 px-4 mb-4">
            <div class="row">
                <div>
                    <h2>Creating Your Syndicate</h2>
                </div>
                <div class="border-top">
                    <p class="mt-3">
                        You can feature on the ballot in two ways: either as an individual or as part of a
                        syndicate. A syndicate is a way for a group of people (maximum 6 people) to choose rooms at
                        the same time as each other. If you want to live with a certain group of people next year,
                        being in a syndicate with them is a way to make that more likely because you can easily
                        coordinate what you pick when it's your turn on ballot weekend. Being in a syndicate does
                        not mean that you have to live with the people in it - it merely makes the option of living
                        with them easier.<br><br>
                        Once you have decided who you wish to form a syndicate with, you must create your syndicate
                        on the room balloting system. On your Dashboard, click 'create syndicate'.
                        <img class="img-thumbnail mb-3 mt-3" src="/media/screenshots/1.gif">
                        Search for people you want to add to your syndicate. When the person appears, click their
                        name to add them.
                        <img class="img-thumbnail mb-3 mt-3" src="/media/screenshots/2.gif">
                        Note that syndicates can comprise at most 6 people. If you make a mistake, click 'start again'
                        and your selection will be cleared.
                        <img class="img-thumbnail mb-3 mt-3" src="/media/screenshots/3.gif">
                        Once you're happy with your selection, click 'create'. Your syndicate will be created, and you
                        will be allocated a syndicate number.
                        <img class="img-thumbnail mb-3 mt-3" src="/media/screenshots/4.gif">
                        Then, sit back and wait for the invitees to accept their invitations. They will receive an email
                        notification to remind them to accept. Once all invitees have accepted, you will
                        receive an email confirming the syndicate is now complete.<br><br>

                    </p>


                </div>
            </div>
    </div>

{% endblock %}