{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Ballot as an Individual | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="row mt-4">

        <div class="col-md-3 col-sm-12 mb-4 d-md-block sidebar">
            <div class="list-group">
                <a href="/roomballot/info" class="list-group-item"><span>Ballot Information</span></a>
                <a href="#" class="list-group-item"><span>Bursaries & Rent Reduction</span></a>
                <a href="/roomballot/info/create-syndicate" class="list-group-item"><span>Creating a Syndicate</span></a>
                <a href="/roomballot/info/individual" class="list-group-item active"><span>Ballot as an Individual</span></a>
                <a href="/roomballot/info/select-room" class="list-group-item"><span>Selecting a Room</span></a>
                <a href="/roomballot/info/pricing" class="list-group-item"><span>Pricing</span></a>
                <a href="/roomballot/about" class="list-group-item"><span>About</span></a>
            </div>
        </div>
        <main role="main" class="col md-9 ml-sm-auto col-lg-9 px-4 mb-4">
            <div class="row">
                <div>
                    <h2>Ballot as an Individual</h2>
                </div>
                <div class="border-top">
                    <p class="mt-3">
                        You don't have to be in a syndicate with other people - you can also enter as an individual.
                        To do this, you must create a syndicate with only you as a member.<br>
                        From your Dashboard, click 'create syndicate', then 'create'.
                        <img class="img-thumbnail mb-3 mt-3" src="/media/screenshots/5.gif">
                        You will be allocated a syndicate number. Nothing more needs to be done - sit back, relax and
                        wait for ballot day.<br><br>
                        If you change your mind, and want to be added to somebody's syndicate, it's no problem! Just get in touch
                        through livechat, or email an administrator at <a href="mailto:internet@jcr.dow.cam.ac.uk">
                        internet@jcr.dow.cam.ac.uk</a>. Make sure you include the syndicate number in your message.<br><br>
                    </p>


                </div>
            </div>
    </div>

{% endblock %}