{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Selecting Your Room | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="row mt-4">

        <div class="col-md-3 col-sm-12 mb-4 d-md-block sidebar">
            <div class="list-group">
                <a href="/roomballot/info" class="list-group-item"><span>Ballot Information</span></a>
                <a href="#" class="list-group-item"><span>Bursaries & Rent Reduction</span></a>
                <a href="/roomballot/info/create-syndicate" class="list-group-item"><span>Creating a Syndicate</span></a>
                <a href="/roomballot/info/individual" class="list-group-item"><span>Ballot as an Individual</span></a>
                <a href="/roomballot/info/select-room" class="list-group-item active"><span>Selecting a Room</span></a>
                <a href="/roomballot/info/pricing" class="list-group-item"><span>Pricing</span></a>
                <a href="/roomballot/about" class="list-group-item"><span>About</span></a>
            </div>
        </div>
        <main role="main" class="col md-9 ml-sm-auto col-lg-9 px-4 mb-4">
            <div class="row">
                <div>
                    <h2>Selecting Your Room</h2>
                </div>
                <div class="border-top">
                    <p class="mt-3">
                        Selecting your room is a piece of cake. When it's time to choose your room, navigate to the room
                        you want to pick. Then click 'select this room'.
                        <img class="img-thumbnail mb-3 mt-3" src="/media/screenshots/6.gif">
                        If your selection is successful, you'll see your room on your Dashboard. If you've made a mistake,
                        and want to change your selection, please get in touch through livechat, or email an administrator
                        at <a href="mailto:internet@jcr.dow.cam.ac.uk">internet@jcr.dow.cam.ac.uk</a>.<br><br>
                    </p>
                </div>
            </div>
    </div>

{% endblock %}