{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Room Detail View</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark justify-content-between mb-4">

    <a class="navbar-brand" href="#">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dowjcrwhite.png" width="60"
             style="padding-right: 10px">
        Room Balloting System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h1>Why, hello there.</h1>
                <h3>To continue, please login with Raven.</h3>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mt-3">
                <a class="btn btn-lg btn-primary" style="color: white" href="/accounts/login">Raven login</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>