{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Ballot Ranking | Downing JCR RBS</title>
</head>

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

<body>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2>Ballot Ranking</h2>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mb-2">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-sm-table-cell">CRSid</th>
                    <th scope="col" class="d-none d-sm-table-cell">Picks at</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                <tr class="clickable-row" data-href="student/{{ student.user_id }}" style="cursor: pointer;">
                    <td>{{ student.rank }}</td>
                    <td>{{ student.first_name }} {{ student.surname }}</td>
                    <td class="d-none d-sm-table-cell">{{ student.user_id }}</td>
                    <td class="d-none d-sm-table-cell">{{ student.picks_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="d-md-block">
            <div class="list-group">
                <p class="list-group-item"><b>Questions?</b></p>
                <p class="list-group-item">
                    If you're unsure about the ballot process, please consult the Knowledge Base.
                </p>
                <a class="list-group-item" href="/roomballot/info">Knowledge Base</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}