{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>{{ room }} | Downing JCR RBS</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2>{{ room }}</h2>
                {% if room.taken_by is not None %}
                    <p>This room has been taken by <b>{{ room.taken_by }}</b>.</p>
                {% else %}
                    <p>This room is currently available for occupation.</p>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center">
                {% if room.taken_by is None and not student.has_allocated and selectable %}
                    <div align="right">
                        <a class="btn btn-primary mt-3 mb-2" href="{{ room.room_id }}/confirm-selection">Select this
                            room</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mt-4">
            {% for i in images %}
                <a href="/media/{{ i.file.url }}" target="blank"><img class="img-thumbnail mb-3"
                                                                      src="/media/{{ i.thumbnail.url }}"></a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped table-hover mt-4">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Room ID</b></td>
                    <td>{{ room.room_id }}</td>
                </tr>
                <tr>
                    <td><b>Floor</b></td>
                    <td>
                        {% if room.floor == 1 %} Ground
                        {% elif room.floor == 2 %} First
                        {% elif room.floor == 3 %} Second
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Ensuite</b></td>
                    <td>
                        {% if room.is_ensuite %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Bed Type</b></td>
                    <td>
                        {% if room.is_double_bed %} Double
                        {% else %} Single
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Disabled Facilities</b></td>
                    <td>
                        {% if room.has_disabled_facilities %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Size</b></td>
                    <td>{{ room.size }} m&#178;</td>
                </tr>
                <tr>
                    <td><b>Band</b></td>
                    <td>{{ room.band }}</td>
                </tr>
                <tr>
                    <td><b>Contract Length</b></td>
                    <td>{{ room.staircase.contract_length }} weeks</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if reviews %}
            <div class="col-md-12">
                <div class="border-bottom mb-4 mt-3"><h3>Reviews</h3></div>
                {% for review in reviews %}
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <h5>Overall Rating</h5>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.overall_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Layout</h6>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.layout_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Facilities</h6>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.facilities_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Noise</h6>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.noise_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>{{ review.title }}</h4>
                            <p>{{ review.text }}</p>
                            <p><i>{{ review.author_name }}</i></p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}