{% extends 'roomballot/base-admin.html' %}

{% block title %}{{ room }} | Downing JCR RBS{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
            <h2>{{ room }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped table-hover">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Room ID</b></td>
                    <td>{{ room.room_id }}</td>
                </tr>
                <tr>
                    <td><b>Floor</b></td>
                    <td>
                        {% if room.floor == 1 %} Ground
                        {% elif room.floor == 2 %} First
                        {% elif room.floor == 3 %} Second
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Ensuite</b></td>
                    <td>
                        {% if room.is_ensuite %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Bed Type</b></td>
                    <td>
                        {% if room.is_double_bed %} Double
                        {% else %} Single
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Disabled Facilities</b></td>
                    <td>
                        {% if room.has_disabled_facilities %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Size</b></td>
                    <td>{{ room.size }} m&#178;</td>
                </tr>
                <tr>
                    <td><b>Band</b></td>
                    <td>{{ room.band }}</td>
                </tr>
                <tr>
                    <td><b>Price</b></td>
                    <td>£{{ weekly_price }} per week</td>
                </tr>
                <tr>
                    <td><b>Contract Length</b></td>
                    <td>{{ room.staircase.contract_length }} weeks</td>
                </tr>
                <tr>
                    <td><b>Total Price</b></td>
                    <td>£{{ total_price }}</td>
                </tr>
                <tr>
                    <td><b>Occupied By</b></td>
                    <td>{{ room.taken_by }}
                        {% if room.taken_by is not None %}
                            <br><a href="/roomballot/admin/manage-student/{{ room.taken_by.user_id }}"
                                   class="btn btn-primary mt-2">Manage</a>
                        {% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info">
                <h4>Something wrong?</h4>
                <p>If you think these details should be changed, please contact the JCR Internet Officer at
                    <a href="mailto:internet@jcr.dow.cam.ac.uk">internet@jcr.dow.cam.ac.uk</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}