{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>{{ room }} | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2>{{ room }}</h2>
                {% if room.type == 2 %}
                    {% if room.taken_by is not None %}
                        <p>This room has been taken by <a style="color: #990066;" href="/roomballot/student/{{ room.taken_by.user_id }}"><b>{{ room.taken_by }}</b></a>.</p>
                    {% else %}
                        <p>This room is currently available for occupation.</p>
                    {% endif %}
                {% else %}
                    <p>This room is reserved for students who are outside the JCR ballot.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if show_prices %}
    <div class="row mb-4">

        <div class="col-md-6">
            <table class="table table-bordered mt-4">
                <thead>
                <tr>
                    <th scope="col">Feature</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Weighted Score</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Size</b></td>
                    <td>{{ room.size|floatformat:"0" }} m&#178;</td>
                    <td>{{ room.score_size|stringformat:'0.2f' }}</td>
                </tr>
                {% if room.is_ensuite %}
                    <tr>
                        <td><b>Ensuite</b></td>
                        <td>Yes</td>
                        <td>{{ room.score_ensuite|stringformat:'0.2f' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td><b>Bathroom Ratio</b></td>
                        <td>{{ room.bathroom_sharing }}:1{% if room.bathroom_sharing == 5 %} or more{% endif %}</td>
                        <td>{{ room.score_bathroom|stringformat:'0.2f' }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><b>Double Bed</b></td>
                    <td>
                        {% if room.is_double_bed %}Yes
                        {% else %}No{% endif %}
                    </td>
                    <td>{{ room.score_double_bed|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Renovated Room</b></td>
                    <td>Last Renovated {{ room.room_last_renovated }}</td>
                    <td>{{ room.score_renovated|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Renovated Facilities</b></td>
                    <td>Bathroom Last Renovated {{ room.bathroom_last_renovated }}<br>
                        Kitchen Last Renovated {{ room.kitchen_last_renovated }}</td>
                    <td>{{ room.score_renovated_facilities|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Facing Lensfield Road?</b></td>
                    <td>{% if room.faces_lensfield %}Yes{% else %}No{% endif %}</td>
                    <td>{{ room.score_facing_lensfield|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Facing Court?</b></td>
                    <td>{% if room.faces_court %}Yes{% else %}No{% endif %}</td>
                    <td>{{ room.score_facing_court|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Ground Floor?</b></td>
                    <td>{% if room.floor == 1 %}Yes{% else %}No{% endif %}</td>
                    <td>{{ room.score_ground_floor|stringformat:'0.2f' }}</td>
                </tr>
                {% if room.is_flat %}
                    <tr>
                        <td><b>Self-Contained</b></td>
                        <td>{{ room.score_flat|stringformat:'0.2f' }}</td>
                    </tr>
                {% endif %}
                <tr class="table-active">
                    <td><b>TOTAL</b></td>
                    <td></td>
                    <td><b>{{ room.score_total|stringformat:'0.2f' }}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered mt-4">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Base Price</b></td>
                    <td></td>
                    <td>£{{ base_price|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>Feature Price</b></td>
                    <td>{{ room.score_total|stringformat:'0.2f' }} x {{ y }}<br>
                        <a href="/roomballot/info/pricing" class="btn btn-primary mt-2">Why? <i class="fas fa-angle-right ml-2"></i></a></td></td></td>
                    <td>£{{ room.feature_price|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>TOTAL</b><br>(Exclusive of 2.98% Increase)</td>
                    <td></td>
                    <td><b>£{{ room.new_price|stringformat:'0.2f' }}</b></td>
                </tr>
                <tr>
                    <td><b>Nearest Band</b></td>
                    <td></td>
                    <td>{{ room.new_band }}</td>
                </tr>
                <tr class="table-active">
                    <td><b>Weekly Price<br>(Inclusive of 2.98% Increase)</b></td>
                    <td></td>
                    <td><b>£{{ room.new_band.weekly_price|stringformat:'0.2f' }}</b></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-bordered mt-4">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>New Band</b></td>
                    <td>{{ room.new_band }}</td>
                </tr>
                <tr>
                    <td><b>Heuristics Applied</b></td>
                    <td>{{ room.pricing_notes|linebreaks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}