{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>{{ room }} | Downing JCR RBS</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>{{ room }}</h2>
                {% if room.type == 2 %}
                    {% if room.taken_by is not None %}
                        <p>This room has been taken by <a style="color: #990066;" href="/roomballot/student/{{ room.taken_by.user_id }}"><b>{{ room.taken_by }}</b></a>.</p>
                    {% else %}
                        <p>This room is currently available for occupation.</p>
                    {% endif %}
                {% else %}
                    <p>This room is reserved for students who are outside the JCR ballot.</p>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                {% if room.taken_by is None and not student.has_allocated and selectable and room.type == 2 %}
                    <div align="right" class="d-none d-md-block">
                        <a class="btn btn-success mt-3 mb-2" style="min-width: 90%" href="{{ room.room_id }}/confirm-selection">Select this
                            room <i class="fas fa-angle-right ml-2"></i></a>
                    </div>
                    <div class="d-md-none">
                        <a class="btn btn-success mt-3 mb-5" style="width: 80%" href="{{ room.room_id }}/confirm-selection">Select this
                            room <i class="fas fa-angle-right ml-2"></i></a>
                    </div>
                {% elif room.type != 2 %}
                    <div align="center">
                        <p class="alert alert-danger">Outside Ballot</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mt-4">
            {% for i in images %}
                <a href="/media/{{ i.file.url }}" target="blank"><img class="img-thumbnail mb-3"
                                                                      src="/media/{{ i.thumbnail.url }}"></a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped table-hover mt-4">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Room Identifier</b></td>
                    <td>{{ room.identifier }}</td>
                </tr>
                <tr>
                    <td><b>Size</b></td>
                    <td>{{ room.size|floatformat:"0" }} m&#178;</td>
                </tr>
                <tr>
                    <td><b>Floor</b></td>
                    <td>
                        {% if room.floor == 1 %} Ground
                        {% elif room.floor == 2 %} First
                        {% elif room.floor == 3 %} Second
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Ensuite</b></td>
                    <td>
                        {% if room.is_ensuite %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Bed Type</b></td>
                    <td>
                        {% if room.is_double_bed %} Double
                        {% else %} Single
                        {% endif %}
                    </td>
                </tr>
                {% for plan in plans %}
                <tr>
                    <td><b>Floorplan</b></td>
                    <td><a href="/media/{{ plan.file.url }}" class="btn btn-primary mt-2">Floorplan <i class="fas fa-angle-right ml-2"></i></a></td>
                </tr>
                {% endfor %}
                {% if show_prices %}
                <tr>
                    <td><b>Band</b></td>
                    <td>{{ room.new_band }} (£{{ room.new_band.weekly_price }})<br>
                    <a href="/roomballot/room-pricing/{{ room.room_id }}" class="btn btn-primary mt-2">Why? <i class="fas fa-angle-right ml-2"></i></a></td></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <table class="table table-bordered table-striped table-hover mt-4">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% if not room.is_ensuite %}
                <tr>
                    <td><b>Number Sharing Nearest Bathroom</b></td>
                    <td>{{ room.bathroom_sharing }}{% if room.bathroom_sharing == 5 %} or more{% endif %}</td>
                </tr>
                {% endif %}
                <tr>
                    <td><b>Room Last Renovated</b></td>
                    <td>{{ room.room_last_renovated }}</td>
                </tr>
                <tr>
                    <td><b>Kitchen Last Renovated</b></td>
                    <td>{{ room.kitchen_last_renovated }}</td>
                </tr>
                <tr>
                    <td><b>Bathroom Last Renovated</b></td>
                    <td>{{ room.bathroom_last_renovated }}</td>
                </tr>
                <tr>
                    <td><b>Faces Lensfield Road?</b></td>
                    <td>{% if room.faces_lensfield %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <td><b>Faces Court?</b></td>
                    <td>{% if room.faces_court %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <td><b>Disabled Facilities</b></td>
                    <td>
                        {% if room.has_disabled_facilities %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Contract Length</b></td>
                    <td>{{ room.contract_length }} weeks</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if reviews %}
            <div class="col-md-12">
                <div class="border-bottom mb-4 mt-3"><h3>Reviews</h3></div>
                {% for review in reviews %}
                    <div class="d-none d-md-block">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <h5>Overall Rating</h5>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.overall_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Layout</h6>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.layout_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Facilities</h6>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.facilities_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Noise</h6>
                                </div>
                                <div class="col-md-6 text-warning">
                                    {% if review.noise_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>{{ review.title }}</h4>
                            <p>{{ review.text|linebreaks }}</p>
                            <p><i>{{ review.author_name }}</i></p>

                        </div>
                    </div>
                    </div>
                    <div class="row mb-5 d-md-none">
                        <div class="col-md-12">
                            <h4>{{ review.title }}</h4>
                            <table class="table mt-4 table-borderless table-sm">
                                <tr>
                                    <td><h5>Overall Rating</h5></td>
                                    <td>
                                        {% if review.overall_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.overall_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h6>Layout</h6></td>
                                    <td>
                                        {% if review.layout_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.layout_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h6>Facilities</h6></td>
                                    <td>
                                        {% if review.facilities_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.facilities_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><h6>Noise</h6></td>
                                    <td>
                                        {% if review.noise_rating == 1 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 2 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 3 %}
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 4 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    {% elif review.noise_rating == 5 %}
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <p>{{ review.text|linebreaks }}</p>
                            <p><i>{{ review.author_name }}</i></p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}