{% extends 'roomballot/base-admin.html' %}

{% block title %}{{ room }} | Downing JCR RBS{% endblock %}

{% block content %}

    <script>
        $(document).ready(function () {
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                });

                // Handle response received after POST request.
                function HandleResponse(responseCode) {
                    // Successfully created syndicate.
                    if (responseCode === 1) location.reload(true);
                    else location.assign('/roomballot/error/' + responseCode.toString());
                }

                // Called when the user clicks a button.
                function CreateButtonAjaxResponse(code) {
                    $.ajax({
                        url: '/roomballot/admin/room/{{ room.room_id }}',
                        type: 'POST',
                        data: {'response': code},
                        dataType: 'json',
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        success: function (response) {
                            HandleResponse(response.responseCode);
                        }
                    });
                }

                $(function () {
                    $('#change-type').click(function () {
                        $('#change-type-widget').toggle()
                    });

                    // When 'JCR Freshers' is clicked, send response.
                    $('#freshers').click(function () {
                        CreateButtonAjaxResponse(1);
                    });

                    // When 'JCR Ballot' is clicked, send response.
                    $('#in-ballot').click(function () {
                        CreateButtonAjaxResponse(2);
                    });

                    // When 'JCR Outside Ballot' is clicked, send response.
                    $('#outside-ballot').click(function () {
                        CreateButtonAjaxResponse(3);
                    });

                    // When 'MCR' is clicked, send response.
                    $('#mcr').click(function () {
                        CreateButtonAjaxResponse(4);
                    });

                });
            }
        );
    </script>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
            <h2>{{ room }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped table-hover">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Room ID</b></td>
                    <td>{{ room.room_id }}</td>
                </tr>
                <tr>
                    <td><b>Allocation Type</b></td>
                    <td>{{ room.get_type_display }}</td>
                </tr>
                <tr>
                    <td><b>Floor</b></td>
                    <td>
                        {% if room.floor == 1 %} Ground
                        {% elif room.floor == 2 %} First
                        {% elif room.floor == 3 %} Second
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Ensuite</b></td>
                    <td>
                        {% if room.is_ensuite %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Bed Type</b></td>
                    <td>
                        {% if room.is_double_bed %} Double
                        {% else %} Single
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Disabled Facilities</b></td>
                    <td>
                        {% if room.has_disabled_facilities %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Size</b></td>
                    <td>{{ room.size }} m&#178;</td>
                </tr>
                <tr>
                    <td><b>Old Band</b></td>
                    <td>{{ room.band }}</td>
                </tr>
                <tr>
                    <td><b>Old Price</b></td>
                    <td>£{{ room.price }}</td>
                </tr>
                <tr>
                    <td><b>New Band</b></td>
                    <td>{{ room.new_band }}</td>
                </tr>
                <tr>
                    <td><b>New Price (Continuous)</b></td>
                    <td>£{{ room.new_price|stringformat:'0.2f' }}</td>
                </tr>
                <tr>
                    <td><b>New Price (Discrete)</b></td>
                    <td>£{{ room.new_band.weekly_price }}</td>
                </tr>
                <tr>
                    <td><b>Contract Length</b></td>
                    <td>{{ room.contract_length }} weeks</td>
                </tr>
                <tr>
                    <td><b>Occupied By</b></td>
                    <td>{{ room.taken_by }}
                        {% if room.taken_by is not None %}
                            <br><a href="/roomballot/admin/manage-student/{{ room.taken_by.user_id }}"
                                   class="btn btn-primary mt-2">Manage</a>
                        {% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h3 class="mb-3">Tasks</h3>
                {% if not in_progress and not room.taken_by %}
                <button class="btn btn-primary mb-3" id="change-type">Change Allocation Type</button>
                <br>
                <div class="ui-widget mb-2 alert alert-light mb-3" style="display: none" id="change-type-widget">
                    <p>Select the new type below:</p>
                    <div class="sidebar">
                        <div class="list-group">
                            <button class="list-group-item" id="freshers"><span>JCR Freshers</span></button>
                            <button class="list-group-item" id="in-ballot"><span>JCR Ballot</span></button>
                            <button class="list-group-item" id="outside-ballot"><span>JCR Outside Ballot</span></button>
                            <button class="list-group-item" id="mcr"><span>MCR</span></button>
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
            <div class="alert alert-info">
                <h4>Something wrong?</h4>
                <p>If you think these details should be changed, please contact the JCR Internet Officer at
                    <a href="mailto:internet@jcr.dow.cam.ac.uk">internet@jcr.dow.cam.ac.uk</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}