{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>Staircases | Downing JCR RBS</title>
</head>

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2>Staircases</h2>
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mb-2">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-sm-table-cell">Total Rooms</th>
                    <th scope="col">Available Rooms</th>
                </tr>
                </thead>
                <tbody>
                {% for staircase in staircases %}
                    <tr class="clickable-row" data-href="staircase/{{ staircase.staircase_id }}" style="cursor: pointer;">
                        <td><b>{{ staircase.name }}</b></td>
                        <td class="d-none d-sm-table-cell">{{ staircase.total_rooms }}</td>
                        <td>{{ staircase.available_rooms }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="d-md-block">
            <div class="list-group">
                <p class="list-group-item"><b>Questions?</b></p>
                <p class="list-group-item">
                    If you're unsure about the ballot process, please consult the Knowledge Base.
                </p>
                <a class="list-group-item" href="/roomballot/info">Knowledge Base</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}