{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>{{ staircase }} | Downing JCR RBS</title>
</head>

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2>{{ staircase }}</h2>
                <p>{% if staircase.description is not None %}{{ staircase.description }}{% endif %}</p>
            </div>
        </div>
    </div>

    <div class="row mb-4 mt-4">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mb-1">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Room</th>
                    <th scope="col" class="d-none d-sm-table-cell">Size</th>
                    <th scope="col" class="d-none d-sm-table-cell">Ensuite</th>
                    <th scope="col" class="d-none d-sm-table-cell">Bed Type</th>
                    {% if show_prices %}<th scope="col">Band</th>{% endif %}
                    <th scope="col">Occupant</th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    {% if room.taken_by is not None or room.type != 2 %}
                    <tr class="alert-danger clickable-row" data-href="../room/{{ room.room_id }}" style="cursor: pointer;">
                    {% else %}
                    <tr class="alert-success clickable-row" data-href="../room/{{ room.room_id }}" style="cursor: pointer;">
                    {% endif %}
                    <td><b>{{ room.room_number }}</b></td>
                    <td class="d-none d-sm-table-cell">{{ room.size }} m&#178;</td>
                    <td class="d-none d-sm-table-cell">{% if room.is_ensuite %}Yes{% else %}No{% endif %}</td>
                    <td class="d-none d-sm-table-cell">{% if room.is_double_bed %}Double{% else %}Single{% endif %}</td>
                    {% if show_prices %}<td>{{ room.new_band }}</td>{% endif %}
                    <td>{% if room.type == 2 %}{{ room.taken_by }}{% else %}Outside Ballot{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-4">
            <div class="d-md-block">
            <div class="list-group">
                {% if floorplan is not None %}
                <a href="/media/{{ floorplan.file.url }}" target="_blank" class="list-group-item active"><span>Floorplan <i class="fas fa-angle-right ml-1"></i></span></a>
                {% endif %}
                <p class="list-group-item">
                    Let: {{ staircase.contract_length }} Weeks
                </p>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}