{% extends 'roomballot/base-admin.html' %}

{% block title %}Status | Downing JCR RBS{% endblock %}

{% block content %}

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-1">
            <div class="mb-3">
                <table>
                    <tr>
                        {% if syndicates_complete %}
                            <td style="min-width: 25px"><i class="fas fa-check"></i></td>
                            <td>First Year Syndicates Complete</td>
                        {% else %}
                            <td style="min-width: 25px"><i class="fas fa-times"></i></td>
                            <td>First Year Syndicates Incomplete</td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if randomised %}
                            <td><i class="fas fa-check"></i></td>
                            <td>Randomised</td>
                        {% else %}
                            <td><i class="fas fa-times"></i></td>
                            <td>Not Randomised</td>
                        {% endif %}

                    </tr>
                    <tr>
                        {% if in_progress %}
                            <td><i class="fas fa-check"></i></td>
                            <td>Ballot In Progress</td>
                        {% else %}
                            <td><i class="fas fa-times"></i></td>
                            <td>Ballot Not In Progress</td>
                        {% endif %}
                    </tr>
                    {% if in_progress %}
                        <tr>
                            <td></td>
                            <td>Currently Picking: {{ current_student }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        {% if incomplete_students %}
            <div class="col-md-12">
                <hr size="5px" color="" noshade/>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <h3>Incomplete Students</h3>
                <p>The following students have not completed the syndicate creation process.</p>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="d-none d-sm-table-cell">CRSid</th>
                        <th scope="col">Issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in incomplete_students %}
                        <tr class="alert-danger clickable-row" data-href="manage-student/{{ student.user_id }}"
                            style="cursor: pointer;">
                            <td>{{ student.first_name }} {{ student.surname }}</td>
                            <td class="d-none d-sm-table-cell">{{ student.user_id }}</td>
                            <td>{% if student.syndicate == None %}Not part of a syndicate
                            {% elif not student.accepted_syndicate %}Not accepted syndicate
                            {% elif not student.syndicate.complete %}Syndicate Incomplete
                            {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if students_outside_ballot %}
            <div class="col-md-12">
                <hr size="5px" color="" noshade/>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <h3>Outside Ballot</h3>
                <p>The following students have been removed from the ballot.</p>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="d-none d-sm-table-cell">CRSid</th>
                        <th scope="col">Room Allocated?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students_outside_ballot %}
                        <tr class="clickable-row" data-href="manage-student/{{ student.user_id }}"
                            style="cursor: pointer;">
                            <td>{{ student.first_name }} {{ student.surname }}</td>
                            <td class="d-none d-sm-table-cell">{{ student.user_id }}</td>
                            <td>{% if student.has_allocated %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if incomplete_syndicates %}
            <div class="col-md-12">
                <hr size="5px" color="" noshade/>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <h3>Incomplete Syndicates</h3>
                <p>The following syndicates are currently incomplete.</p>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Syndicate ID</th>
                        <th scope="col">Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for syndicate in incomplete_syndicates %}
                        <tr class="clickable-row" data-href="syndicate/{{ syndicate.syndicate_id }}"
                            style="cursor: pointer;">
                            <td>{{ syndicate.syndicate_id }}</td>
                            <td>{{ syndicate.owner_id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}