{% extends 'roomballot/base-student.html' %}

{% block content %}

<head>
    <title>{{ student_to_view.first_name }} {{ student_to_view.surname }} | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2>{{ student_to_view.first_name }} {{ student_to_view.surname }}</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 mt-4">
            <table class="table table-bordered table-striped table-hover">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>CRSid</b></td>
                    <td>{{ student_to_view.user_id }}</td>
                </tr>
                <tr>
                    <td><b>In Ballot</b></td>
                    <td>
                        {% if student_to_view.in_ballot %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                {% if student_to_view.in_ballot %}
                <tr>
                    <td><b>Syndicate</b></td>
                    <td>
                        {% if student_to_view.syndicate %}
                            #{{ student_to_view.syndicate.syndicate_id }}<br>
                            <a href="/roomballot/syndicate/{{ student_to_view.syndicate.syndicate_id }}" class="btn btn-primary mt-2">View <i class="fas fa-angle-right ml-2"></i></a>
                        {% else %} None
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><b>Rank</b></td>
                    <td>
                        {{ student_to_view.rank }}
                    </td>
                </tr>
                {% if not student.has_allocated %}
                <tr>
                    <td><b>Picks At</b></td>
                    <td>
                        {{ student_to_view.picks_at }}
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                <tr>
                    <td><b>Room Allocated</b></td>
                    <td>
                        {{ room }}<br>
                        {% if room %}<a href="/roomballot/room/{{ room.room_id }}" class="btn btn-primary mt-2">View <i class="fas fa-angle-right ml-2"></i></a>{% endif %}
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}