{% extends 'roomballot/base-admin.html' %}

{% block title %}{{ student }} | Downing JCR RBS{% endblock %}

{% block content %}

    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";

        $(document).ready(function () {

            // Defining CSRF token.
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });

            // Handle response received after POST request.
            function HandleResponse(responseCode) {
                // Successfully created syndicate.
                if (responseCode === 1) location.reload(true);
                else location.assign('/roomballot/error/' + responseCode.toString());
            }

            // Called when the user clicks a button.
            function CreateButtonAjaxResponse(code) {
                $.ajax({
                    url: '/roomballot/admin/manage-student/{{ student.user_id }}',
                    type: 'POST',
                    data: {'response': code},
                    dataType: 'json',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    success: function (response) {
                        HandleResponse(response.responseCode);
                    }
                });
            }

            // Called when the user selects a room/syndicate to allocate.
            function CreateSelectionAjaxResponse(code, id) {
                $.ajax({
                    url: '/roomballot/admin/manage-student/{{ student.user_id }}',
                    type: 'POST',
                    data: {'response': code, 'id': id},
                    dataType: 'json',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    success: function (response) {
                        HandleResponse(response.responseCode);
                    }
                });
            }

            $(function () {

                // Generate JSON of rooms which can be allocated.
                var availableRooms = [
                    {% for r in rooms %}
                        {
                            value: "{{ r.room_id }}",
                            label: "{{ r }} ({{ r.identifier }})"
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ];

                // Generate JSON of syndicates which can be allocated.
                var availableSyndicates = [
                    {% for s in syndicates %}
                        {
                            value: "{{ s.syndicate_id }}",
                            label: "{{ s.syndicate_id }} (Owner {{ s.owner_id }})"
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ];

                // Set parameters of autocomplete field.
                $('#room').autocomplete({
                    source: availableRooms,
                    select: function (event, ui) {
                        CreateSelectionAjaxResponse(3, ui.item.value);
                        return false;
                    }
                });

                // Set parameters of autocomplete field.
                $('#syndicate').autocomplete({
                    source: availableSyndicates,
                    select: function (event, ui) {
                        CreateSelectionAjaxResponse(4, ui.item.value);
                        return false;
                    }
                });

                // When 'remove from syndicate' is clicked, send response.
                $('#remove').click(function () {
                    CreateButtonAjaxResponse(1);
                });

                // When 'remove from syndicate' is clicked, send response.
                $('#deallocate-room').click(function () {
                    CreateButtonAjaxResponse(2);
                });

                $('#allocate-room').click(function () {
                    $('#allocate-room-widget').toggle()
                });

                $('#add-to-syndicate').click(function () {
                    $('#add-to-syndicate-widget').toggle()
                });

                $('#add-to-ballot').click(function () {
                    CreateButtonAjaxResponse(5);
                });

                $('#accept-syndicate').click(function () {
                    CreateButtonAjaxResponse(6);
                });

                $('#send-to-bottom').click(function () {
                    CreateButtonAjaxResponse(7);
                });

            });

            $("modal-deallocate").modal({
                escapeClose: false,
                clickClose: false,
                showClose: false
            });

        });
    </script>


    <div id="modal-deallocate" class="modal" role="dialog">
        <p>Are you sure you want to deallocate {{ student.first_name }}'s room?</p>
        <a href="#" rel="modal:close" class="btn btn-primary">Cancel</a>
        <button class="btn btn-primary ml-2" id="deallocate-room">Confirm</button>
    </div>

    <div id="modal-remove-syndicate" class="modal" role="dialog">
        <p>Are you sure you want to remove {{ student.first_name }} from the ballot?</p>
        <a href="#" rel="modal:close" class="btn btn-primary">Cancel</a>
        <button class="btn btn-primary ml-2" id="remove">Confirm</button>
        <br>
    </div>

    <div id="modal-send-to-bottom" class="modal" role="dialog">
        <p>Are you sure you want to send {{ student.first_name }} to the bottom of the ballot picking order?</p>
        <a href="#" rel="modal:close" class="btn btn-primary">Cancel</a>
        <button class="btn btn-primary ml-2" id="send-to-bottom">Confirm</button>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
            <h2>{{ student.first_name }} {{ student.surname }}</h2>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-striped">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>CRSid</b></td>
                    <td>{{ student.user_id }}</td>
                </tr>
                <tr>
                    <td><b>Ballot Year</b></td>
                    <td>{% if student.year == 1 %}First{% else %}Second{% endif %}</td>
                </tr>
                <tr>
                    <td><b>In Ballot</b></td>
                    <td>
                        {% if student.in_ballot %} Yes
                        {% else %} No
                        {% endif %}
                    </td>
                </tr>
                {% if student.in_ballot %}
                    <tr>
                        <td><b>Syndicate</b></td>
                        <td>
                            #{{ student.syndicate_id }}
                            {% if student.syndicate is not None %}
                                <br>
                                <a href="../syndicate/{{ student.syndicate_id }}"
                                   class="btn btn-primary mt-2">Manage</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Accepted Syndicate</b></td>
                        <td>
                            {% if student.accepted_syndicate %} Yes
                            {% else %} No
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Rank</b></td>
                        <td>
                            {{ student.rank }}
                        </td>
                    </tr>
                    {% if not student.has_allocated %}
                        <tr>
                            <td><b>Picks At</b></td>
                            <td>
                                {{ student.picks_at }}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <td><b>Room Allocated</b></td>
                    <td>
                        {{ room }} <br>
                        {% if student.has_allocated %}
                            <a href="/roomballot/admin/room/{{ room.room_id }}" class="btn btn-primary mt-2">View</a>
                        {% endif %}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h3 class="mb-3">Tasks</h3>
                {% if student.in_ballot and not in_progress %}
                    <a href="#modal-remove-syndicate" rel="modal:open" class="btn btn-primary mb-3">Remove from
                        Ballot</a><br>
                    {% if student.syndicate is None %}
                        <button class="btn btn-primary mb-3" id="add-to-syndicate">Add to Syndicate</button><br>
                        <div class="ui-widget mb-2 alert alert-light mb-3" style="display: none"
                             id="add-to-syndicate-widget">
                            <p>Start typing the syndicate ID below:</p>
                            <input id="syndicate" style="width: 100%;"><br>
                        </div>
                    {% else %}
                        {% if not student.accepted_syndicate %}
                            <button class="btn btn-primary mb-3" id="accept-syndicate">Accept Syndicate</button>
                            <br>
                        {% endif %}
                    {% endif %}
                {% elif not student.in_ballot and not in_progress %}
                    <button class="btn btn-primary mb-3" id="add-to-ballot">Add to Ballot</button><br>
                {% endif %}
                {% if student.has_allocated %}
                    <a href="#modal-deallocate" rel="modal:open" class="btn btn-primary mb-3">Deallocate
                        Room</a><br>
                {% else %}
                    <button class="btn btn-primary mb-3" id="allocate-room">Allocate Room</button><br>
                    <div class="ui-widget mb-2 alert alert-light mb-3" style="display: none"
                         id="allocate-room-widget">
                        <p>Start typing the room below:</p>
                        <input id="room" style="width: 100%;"><br>
                    </div>
                {% endif %}
                {% if student.in_ballot and not student.has_allocated %}
                    <a href="#modal-send-to-bottom" rel="modal:open" class="btn btn-primary mb-3">Send to Bottom</a><br>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}