{% extends 'roomballot/base-student.html' %}

{% block content %}

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

<head>
    <title>Syndicate #{{ syndicate.syndicate_id }} | Downing JCR RBS</title>
</head>

<div class="container">

    <div class="border-bottom">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <h2>Syndicate #{{ syndicate.syndicate_id }}</h2>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="d-none d-sm-table-cell">CRSid</th>
                    <th scope="col">Accepted</th>
                </tr>
                </thead>
                <tbody>
                {% for st in students %}
                    <tr class="clickable-row" data-href="/roomballot/student/{{ st.user_id }}" style="cursor: pointer;">
                        <td><b>{{ st.first_name }} {{ st.surname }}</b></td>
                        <td class="d-none d-sm-table-cell">{{ st.user_id }}</td>
                        <td>{% if st.accepted_syndicate %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

{% endblock %}