{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Syndicate #{{ syndicate.syndicate_id }} | Downing JCR RBS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
            type="text/javascript"></script>
</head>
<body>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {

        // Defining CSRF token.
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        // Handle response received after POST request.
        function HandleResponse(responseCode) {
            // Successfully created syndicate.
            if (responseCode === 1) location.replace("/roomballot/admin/syndicates");
            else location.href('/roomballot/error/' + responseCode.toString());
        }

        // Called when the user clicks a button.
        function CreateButtonAjaxResponse(code) {
            $.ajax({
                url: '/roomballot/admin/syndicate/{{ syndicate.syndicate_id }}',
                type: 'POST',
                data: {'response': code},
                dataType: 'json',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                success: function (response) {
                    HandleResponse(response.responseCode);
                }
            });
        }

        $(function () {

            // Generate JSON of rooms which can be allocated.
            var availableRooms = [
                {% for r in rooms %}
                    {
                        value: "{{ r.room_id }}",
                        label: "{{ r }}"
                    }
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ];

            // When 'remove from syndicate' is clicked, send response.
            $('#dissolve-syndicate').click(function () {
                CreateButtonAjaxResponse(1);
            });

        });

    });
</script>

<nav class="navbar navbar-dark justify-content-between mb-4">
    <a class="navbar-brand" href="/roomballot/admin">
        Downing JCR RBS<br>
        <p class="small">Administration Portal</p>
    </a>
</nav>

<div class="container-fluid">

    <div class="row mt-4">
        <nav class="col-md-2 d-none d-md-block sidebar" id="navbarSupportedContent">
            <div class="list-group">
                <a href="/roomballot/admin" class="list-group-item"><i class="fa fa-key"></i> <span>Dashboard</span></a>
                <a href="../status" class="list-group-item"><i class="fa fa-credit-card"></i> <span>Status</span></a>
                <a href="../syndicates" class="list-group-item"><i class="fa fa-question-circle"></i>
                    <span>Syndicates</span></a>
                <a href="#" class="list-group-item"><i class="fa fa-arrow-circle-o-left"></i>
                    <span>Students</span></a>
            </div>
        </nav>
        <main role="main" class="col md-9 ml-sm-auto col-lg-10 px-4">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                    <h2>Syndicate #{{ syndicate.syndicate_id }}</h2>
                </div>

            </div>
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-bordered table-striped">
                        <thead style="display:none">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>Syndicate Owner</b></td>
                            <td>{{ syndicate.owner_id }}</td>
                        </tr>
                        <tr>
                            <td><b>Syndicate Complete?</b></td>
                            <td>{% if syndicate.complete %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>

                    <hr size="5px" color="" noshade/>


                    <table class="table table-bordered table-striped">
                        <thead style="display:none">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td><b>{{ student.first_name }} {{ student.surname }}</b></td>
                                <td>{{ student.user_id }}</td>
                                <td>{% if student.accepted_syndicate %}Accepted{% else %}Not Accepted{% endif %}</td>
                                <td><a class="btn btn-primary" href="../manage-student/{{ student.user_id }}">Manage</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="jumbotron">
                        <h3 class="mb-3">Tasks</h3>
                        <button class="btn btn-primary" id="dissolve-syndicate">Dissolve Syndicate</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>