{% extends 'roomballot/base-admin.html' %}

{% block title %}Syndicate #{{ syndicate.syndicate_id }} | Downing JCR RBS{% endblock %}

{% block content %}

    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";

        $(document).ready(function () {

            // Defining CSRF token.
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });

            // Handle response received after POST request.
            function HandleResponse(responseCode) {
                // Successfully created syndicate.
                if (responseCode === 1) location.replace("/roomballot/admin/syndicates");
                else location.assign('/roomballot/error/' + responseCode.toString());
            }

            // Called when the user clicks a button.
            function CreateButtonAjaxResponse(code) {
                $.ajax({
                    url: '/roomballot/admin/syndicate/{{ syndicate.syndicate_id }}',
                    type: 'POST',
                    data: {'response': code},
                    dataType: 'json',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    success: function (response) {
                        HandleResponse(response.responseCode);
                    }
                });
            }

            $(function () {

                // Generate JSON of rooms which can be allocated.
                var availableRooms = [
                    {% for r in rooms %}
                        {
                            value: "{{ r.room_id }}",
                            label: "{{ r }}"
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ];

                // When 'remove from syndicate' is clicked, send response.
                $('#dissolve-syndicate').click(function () {
                    CreateButtonAjaxResponse(1);
                });

            });

        });
    </script>

    <div id="modal-dissolve" class="modal" role="dialog">
        <p>Are you sure you want to dissolve this syndicate?</p>
        <a href="#" rel="modal:close" class="btn btn-primary">Cancel</a>
        <button class="btn btn-primary ml-2" id="dissolve-syndicate">Confirm</button>
    </div>

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
            <h2>Syndicate #{{ syndicate.syndicate_id }}</h2>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-striped">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Syndicate Owner</b></td>
                    <td>{{ syndicate.owner_id }}</td>
                </tr>
                <tr>
                    <td><b>Year</b></td>
                    <td>{{ syndicate.get_year_display }}</td>
                </tr>
                <tr>
                    <td><b>Syndicate Complete?</b></td>
                    <td>{% if syndicate.complete %}Yes{% else %}No{% endif %}</td>
                </tr>
                </tbody>
            </table>

            <hr size="5px" color="" noshade/>


            <table class="table table-bordered table-striped">
                <thead style="display:none">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td><b>{{ student.first_name }} {{ student.surname }}</b></td>
                        <td>{{ student.user_id }}</td>
                        <td>{% if student.accepted_syndicate %}Accepted{% else %}Not Accepted{% endif %}</td>
                        <td><a class="btn btn-primary" href="../manage-student/{{ student.user_id }}">Manage</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <h3 class="mb-3">Tasks</h3>
                {% if not in_progress %}
                    <a class="btn btn-primary" href="#modal-dissolve" rel="modal:open">Dissolve Syndicate</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}