{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--<link rel="stylesheet" href="{% static 'roomsurvey/style.css' %}">-->
    </head>

    <div align="center" style="padding-top: 30px; padding-bottom: 30px; background-color: #990066">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dowjcrwhite.png" width=100>
    </div>
    
    <body class="bg-light">
        <div class="container">
            
            <div>
                <h1 style="font-family: 'Lato', sans-serif;">1. Find Room</h1>
                <p style="font-family: Lato; font-size: 16px">Please select the room you occupied during the academic year 2017/18. First select the staircase from
                    the drop-down list, then select the room.
                </p>
            </div>
            
            <form action="/roomsurvey/home" method="post" style="font-family: 'Lato', sans-serif; font-size: 16px">
                {% csrf_token %}
                <table border="0">
                        {% for field in form.visible_fields %}
                          <tr>
                            <th style="padding-right: 20px">{{ field.label_tag }}</th>
                            <td>
                              {{ field.errors }}
                              {{ field }}
                              {{ field.help_text }}
                            </td>
                          </tr>
                        {% endfor %}
                      </table><br>
                      <input class="btn btn-primary" type="submit" value="Next" style="font-family: 'Lato', sans-serif;"/>
            </form>
        </div>
    </body>
</html>