{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--<link rel="stylesheet" href="{% static 'roomsurvey/style.css' %}">-->
    </head>
    
    <div align="center" style="padding-top: 30px; padding-bottom: 30px; background-color: #990066">
        <img src="https://www.jcr.dow.cam.ac.uk/storage/app/media/dowjcrwhite.png" width=100>
    </div>
    
    <body class="bg-light">
        <div class="container">
            
            <div>
                <h1 style="font-family: Lato">3. Survey</h1>
                <p style="font-family: Lato; font-size: 16px">
                    Please answer the questions below. This will help us with creating a new banding system
                    for next year's ballot.
                    </p>
            </div>

            <form action="#" method="post">
                {% csrf_token %}
                {{ form }}
                <br><input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>